/* DEMO CSS - not needed for transitions functionality */
html, body {
	padding:0;
	margin:0;
}

.transitions-content {
	text-align: center;
	font-family: sans-serif;
	overflow: scroll;
	height:100%;
}
.transitions-content h1 {
	font-size: 70px;
	margin: 120px 0 30px 0;
	text-transform: uppercase;
}
.transitions-content p {
	font-size: 1em;
	padding:10px 20% 0 20%;
	color: #123954;

}
.transitions-content a,
.transitions-content a:hover {
	font-size: 20px;
	color:#FFF;
	text-decoration: none;
	text-transform: uppercase;
}
.transitions-content a:hover {
	color: #CCC;
}
.page-1 {
	background-color: #0baad2;
}
.page-1 h1 {
	color: #123954;
}
.page-2 {
	background-color: #123954;
	color:#FFF;
}

a {
	display: inline-block;
	padding:20px 50px;
}
.transitions-content a.back {
	font-size:50px;
	position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding:0;
    margin:0;

}









